.Sign_In{
   position: absolute;
   z-index: 1;
   width: 100%;
   height: 100%;
   background-color: #00000090;
   display: grid; 
}
.sign_in{
    place-self: center;
    color: #808080;
    width: max(23vw,330px);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:  25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: faidIn 0.5s ;


}
.sign_in_pop_up_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.sign_in_pop_up_title img{
    width: 16px;
    cursor: pointer;

}
.sign_in_popup_input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sign_in_popup_input input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.sign_in button{
     border: none;
     padding: 10px;
     border-radius: 4px;
     background-color: tomato;
     color: white;
     font-size: 15px;
     cursor: pointer;

}
.sign_In_condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: 15px;

}
.sign_in span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}
